.dadosDolar,
.dadosIene,
.dadosEuro {
  margin: 3em auto;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 24px;
  width: 65%;
  color: var(--cinza);
}

.grafico {
  width: 30vw;
}

.grafico__titulo {
  display: flex;
  align-items: center;
}

.grafico__titulo span {
  background-repeat: no-repeat;
  width: 50px;
  height: 40px;
}

.grafico__ilustracao-dolar {
  background-image: url("../imagens/cifrao.png");
}

.grafico__ilustracao-iene {
  background-image: url("../imagens/iene.png");
}
.grafico__ilustracao-euro {
  background-image: url("../imagens/euro.png");
  width: 41px;
  height: 41px;
  background-size: contain;
  border-radius: 10px;
}

.grafico__titulo h2 {
  color: var(--cinza);
  font-weight: 700;
  font-size: 24px;
}

.investimentos__lista {
  margin: 2em;
  color: var(--cinza);
}

.investimentos__lista li {
  margin: 1em 0;
}

@media (max-width: 700px) {
  .dadosDolar,
  .dadosEuro,
  .dadosIene {
    width: 90%;
    flex-direction: column;
  }
  .grafico {
    width: auto;
  }
  .grafico__titulo {
    gap: 1em;
  }
  .grafico__titulo span {
    width: 6em;
    height: 3em;
  }
  .grafico__titulo h2 {
    font-size: 20px;
  }
  .investimentos__lista {
    line-height: 15px;
    margin: auto;
  }
}
