.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--roxo);
  padding: 5em 0;

  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.15));
}

.sidebar__avatar {
  width: 150px;
  border-radius: 100%;
  margin: 1em 0;
}

.sidebar h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.sidebar__links {
  display: flex;
  flex-direction: column;
}

.sidebar__links a {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: white;
  text-decoration: none;
  margin: 1em 0;
}

.sidebar__links a:first-of-type {
  color: var(--verde-escuro);
}

.sidebar__linha {
  margin: 3em 0;
  color: black;
  width: 50%;
}

.links__icone {
  padding-left: 2em;
  background-repeat: no-repeat;
}

.dashboard {
  background-image: url("../imagens/icon-dashboard.png");
}

.cofre {
  background-image: url("../imagens/icon-cofre.png");
}

.configuracao {
  background-image: url("../imagens/icon-configuracao.png");
}

.duvida {
  background-image: url("../imagens/icon-duvida.png");
}
@media (max-width: 700px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
  .sidebar__logo {
    padding: 0 0 0 4rem;
  }
  .container__avatar {
    margin: 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  .sidebar__avatar {
    width: 65px;
    margin: 0 0;
  }
  .sidebar__linha {
    display: none;
  }
  .sidebar__links {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .sidebar__links a {
    margin: 0 1rem;
    overflow: hidden;
  }
}
