@import url("./grafico.css");
@import url("./cabecalho.css");
@import url("./rodape.css");
@import url("./sidebar.css");
@import url("./menuToggle.css");

:root {
  --lilas: #e4e9f6;
  --roxo: #783efd;
  --verde-claro: #ccf8ed;
  --verde-escuro: #00dea3;
  --cinza: #444444;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 29px;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 20% auto;
  background-color: var(--lilas);
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: none;
  }
}
